<p id="notice"><%= notice %></p>

<h1>School Modules</h1>
  
  <tbody>
    <h3>Modules available</h3>
    
    <% @school_modules.each do |school_module| %>
      <tr>
        <% if !current_student.school_modules.find_by(id: school_module.id) %>
          <td><%= school_module.code %></td>
          <td><%= school_module.name %></td>
          <td><%= link_to 'Select', add_module_to_student_path(id: school_module.id) %></td>
          <br>
        <% end %>
      </tr>
    <% end %>
    
    <br>
    
    <h3>Your modules</h3>
    <% if !current_student.school_modules.empty?  %>
      <% @current_student.school_modules.each do |school_module| %>
        <tr>
          <td><%= school_module.code %></td>
          <td><%= school_module.name %></td>
          <td><%= link_to 'Delete', delete_module_for_student_path(id: school_module.id) %></td>
          <br>
        </tr>
      <% end %>
    <% end %>
    
  </tbody>