<p id="notice"><%= notice %></p>

<h1>School Modules</h1>

  <tbody>
    <% @school_modules.each do |school_module| %>
      <tr>
        <td><%= school_module.code %></td>
        <td><%= school_module.name %></td>
        <td> | </td>
        <td><%= link_to 'Show', school_module %></td>
        <td> | </td>
        <td><%= link_to 'Destroy', destroy_it_module_path(id: school_module.id) %></td>
      </tr>
      <br>
    <% end %>
  </tbody>

<br>

<%= link_to 'New School Module', new_school_module_path %>
