<%= provide(:title, 'New module') %>
<h1>New Module</h1>

<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <%= form_for(@school_module, url: signup_school_module_path) do |f| %>
        
        <%= f.label :code %>
        <%= f.text_field :code, class: 'form-control' %>
        
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
        
        <%= f.submit "Create a module", class: "btn btn-primary" %>
        <% end %>
    </div>
</div>


<%= render 'form', school_module: @school_module %>

<%= link_to 'Back', school_modules_path %>