<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @module_admin.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @module_admin.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @module_admin.email %>
</p>

<%= link_to 'Back', module_admins_path %>
