<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @contact_post.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @contact_post.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @contact_post.email %>
</p>

<p>
  <strong>Message:</strong>
  <%= @contact_post.message %>
</p>

<%= link_to 'Edit', edit_contact_post_path(@contact_post) %> |
<%= link_to 'Back', contact_posts_path %>
