<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lecturer.name %>
</p>

<p>
  <strong>Surname:</strong>
  <%= @lecturer.surname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @lecturer.email %>
</p>

<%= link_to 'Back', lecturers_path %>
