<p id="notice"><%= notice %></p>

<h1>Gym Classes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Instructor first name</th>
      <th>Instructor last name</th>
      <th>Day</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Starting date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @gym_classes.each do |gym_class| %>
      <tr>
        <td><%= gym_class.name %></td>
        <td><%= gym_class.instructor_first_name %></td>
        <td><%= gym_class.instructor_last_name %></td>
        <td><%= gym_class.day %></td>
        <td><%= gym_class.start_time %></td>
        <td><%= gym_class.end_time %></td>
        <td><%= gym_class.starting_date %></td>
        <td><%= link_to 'Show', gym_class %></td>
        <td><%= link_to 'Edit', edit_gym_class_path(gym_class) %></td>
        <td><%= link_to 'Destroy', gym_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Gym Class', new_gym_class_path %>
