<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @gym_class.name %>
</p>

<p>
  <strong>Instructor first name:</strong>
  <%= @gym_class.instructor_first_name %>
</p>

<p>
  <strong>Instructor last name:</strong>
  <%= @gym_class.instructor_last_name %>
</p>

<p>
  <strong>Day:</strong>
  <%= @gym_class.day %>
</p>

<p>
  <strong>Start time:</strong>
  <%= @gym_class.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @gym_class.end_time %>
</p>

<p>
  <strong>Starting date:</strong>
  <%= @gym_class.starting_date %>
</p>

<%= link_to 'Edit', edit_gym_class_path(@gym_class) %> |
<%= link_to 'Back', gym_classes_path %>
