<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "Griffitness", root_path, id: "logo" %>
        <nav>
          <ul class ="nav navbar-nav navbar-right">

            <% if admin_logged_in? %>
              <li><%= link_to "Pages", "#" %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <% else %>
              <li><%= link_to "Admin", login_path %></li>
              <li><%= link_to "Other",  "#" %></li>
            <% end %>
              
          </ul>
        </nav>
    </div>
</header>

