<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">
        <%= link_to "grading app", root_path, id: "logo" %>
        <nav>
          <ul class ="nav navbar-nav navbar-right">
            <li><%= link_to "Home", root_path %></li>
            
            <% if admin_logged_in? %>
              <li><%= link_to "Modules", school_modules_path %></li>
              <li><%= link_to "Module admins", module_admins_path %></li>
              <li><%= link_to "Lecturers", lecturers_path %></li>
              <li><%= link_to "Students", students_path %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <% elsif student_logged_in? %>
              <li><%= link_to "Modules", choose_module_path %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <% elsif lecturer_logged_in? %>
              <li><%= link_to "Modules", lecturer_modules_path %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <% elsif module_admin_logged_in? %>
              <li><%= link_to "Modules", link_module_to_lecturer_path %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            <% else %>
              <li><%= link_to "Log in",  login_path %></li>
            <% end %>
              
          </ul>
        </nav>
    </div>
</header>

