<!DOCTYPE html>
<html>
  <head>
    <title><%= (yield(:title)) %></title>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <%= javascript_include_tag "NavBar/index" %>
    <%= javascript_include_tag "Vegas/vegas.min" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
      </head>
  <body>
    <%= render 'layouts/header' %>

  <div class="content">
      <%= yield %>
   <nav class="main-nav">
    <ul>
      <li class="home">
    <%= link_to Page.find_by(id: 1), :class => 'link-to-text-color',  :remote => true do %>
        <div class="icon fa fa-home fa-2x"></div>
      <% end %>
        <span>Home</span>
      </li>

      
      <li class="membership">
    <%= link_to Page.find_by(id: 2), :class => 'link-to-text-color', :remote => true do %>
        <div class="icon fa  fa-id-card-o fa-2x"></div>
      <% end %>
        <span>Membership</span>
      </li>

      
      <li class="classes">
    <%= link_to Page.find_by(id: 3), :class => 'link-to-text-color', :remote => true do %>
        <div class="icon fa fa-clock-o fa-2x"></div>
      <% end %>
        <span>Classes</span>
      </li>

      
      <li class="contact">
    <%= link_to Page.find_by(id: 4), :class => 'link-to-text-color', :remote => true do %>
        <div class="icon fa fa-paper-plane fa-2x"></div>
        <% end %>
        <span>Contact us</span>
      </li>

      </ul>    
  </nav>
</div>
</body>
</html>